@model MVCatalog.Models.CategoryViewModel
@{
	ViewData["Title"] = "Update";
}

@using (Html.BeginForm("Update", "Category", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
	<div class="form-group">
		@Html.LabelFor(Model => Model.CategoryId, "KATEGORİ ID")
		@Html.TextBoxFor(Model => Model.CategoryId, new { @class = "form-control" })
		@Html.HiddenFor(Model => Model.CategoryId)
		<br />
		@Html.LabelFor(Model => Model.Name, "KATEGORİ ADI")
		@Html.TextBoxFor(Model => Model.Name, new { @class = "form-control" })
		<br />
		@Html.LabelFor(Model => Model.IsDeleted, "KATEGORİ DURUMU")
		@Html.TextBoxFor(Model => Model.IsDeleted, new { @class = "form-control" })
		<br />
		@Html.LabelFor(Model => Model.RecordTime, "KATEGORİ TARİHİ")
		@Html.TextBoxFor(Model => Model.RecordTime, new { @class = "form-control" })
	</div>
	<br />
	<div>
		<button type="submit" class="btn btn-success">KATEGORİ GÜNCELLE</button>
	</div>
}
<br />
<div>
	<a asp-action="Index">LİSTEYE GERİ DÖN</a>
</div>
