@model List<MVCatalog.Models.ProductViewModel>

@{
	ViewData["Title"] = "Index";
}

<div class="container mt-5">
	<div class="d-flex justify-content-between align-items-center mb-4">
		<h5>Product List</h5>
	</div>
	<table class="table table-hover">
		<thead class="thead-dark">
			<tr>
				<th>ÜRÜN ID</th>
				<th>ÜRÜN ADI</th>
				<th>ÜRÜN FİYATI</th>
				<th>ÜRÜN TARİHİ</th>
				<th>ÜRÜN DURUMU</th>
				<th>ÜRÜN KATEGORİSİ</th>
				<th>İŞLEMLER</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<th>@item.ProductId</th>
					<td>@item.Name</td>
					<td>@($"{item.Price:C0}")</td>
					<td>@item.RecordTime.ToString("dd/MM/yyyy")</td>
					<td>@(item.IsDeleted ? "SİLİNDİ" : "AKTİF")</td>
					<td>@item.Categories.Name</td>

					<td>
						<a href="@Url.Action("Update","Product",new { id=item.ProductId})" class="btn btn-sm btn-success">Güncelle</a>
						<a href="@Url.Action("Delete","Product",new {id=item.ProductId})" class="btn btn-sm btn-danger">Sil</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
	<div class="d-flex justify-content-between align-items-center mb-4">
		<a href="/Product/Add/" class="btn btn-primary mb-3">Yeni Ürün Ekle</a>
	</div>
</div>
