@model MVCatalog.Models.ProductViewModel
@{
	ViewData["Title"] = "Update";
}

<div class="container mt-5">
	<div class="d-flex justify-content-between align-items-center mb-4">
		<h5>Update Product</h5>
	</div>
	@using (Html.BeginForm("Update", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
	{
		<div class="mb-3">
			@Html.LabelFor(Model => Model.ProductId, "Ürün ID")
			@Html.TextBoxFor(Model => Model.ProductId, new { @class = "form-control", @readonly = "readonly" })
			@Html.HiddenFor(Model => Model.ProductId)
		</div>
		<div class="mb-3">
			@Html.LabelFor(Model => Model.Name, "Ürün Adı")
			@Html.TextBoxFor(Model => Model.Name, new { @class = "form-control" })
		</div>
		<div class="mb-3">
			@Html.LabelFor(Model => Model.Price, "Ürün Fiyatı")
			@Html.TextBoxFor(Model => Model.Price, new { @class = "form-control" })
		</div>
		<div class="mb-3">
			@Html.LabelFor(Model => Model.RecordTime, "Ürün Kayıt Tarihi")
			@Html.TextBoxFor(Model => Model.RecordTime, new { @class = "form-control" })
		</div>
		<div class="mb3">
			@Html.LabelFor(Model => Model.IsDeleted, "Ürün Durumu")
			@Html.TextBoxFor(Model => Model.IsDeleted, new { @class = "form-control" })
		</div>
		<div class="mb-3">
			@Html.LabelFor(Model => Model.CategoryId, "Ürün Kategorisi")
			@Html.DropDownListFor(Model => Model.CategoryId, new SelectList(Model.CategoryList, "CategoryId", "Name"), "Seçiniz", new { @class = "form-select" })
		</div>
		<div>
			<button type="submit" class="btn btn-success">ÜRÜNÜ GÜNCELLE</button>
		</div>
	}
	<div>
		<a href="@Url.Action("Index", "Product")" class="btn btn-secondary mt-3">Listeye Geri Dön</a>
	</div>
</div>


